@media screen and (max-width: 1000px) {
    .d-block{
        height: 25em;
    }
}

@media screen and (max-width: 900px) {
    .d-block{
        height: 30em;
    }

    .logoNosotros{
        width:10em;
        height:10em;
    }
}

