///////////////////
//Colores//////////
///////////////////
$principal:black;

$primary: $principal;
$secondary: rgb(83, 83, 83);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);

///////////////////
//Navbar///////////
///////////////////

.navbar-nav{
    font-size: 1.2em;
 
}


////////////////////
//Home//////////////
////////////////////

.carousel-item{
    height: 40rem;
}


////////////////////
//Footer////////////
////////////////////

.contenedor{
    display:flex;
    flex-direction: column;
    text-align: center;
    height:10rem;
    background-color: rgb(0, 0, 0);
    color: white;
        
            .footer__info{
                font-size: 1em;

                .footer__datos{
                    justify-content:center;
                    font-size: 1em;
                    font-weight: 300;
                }

                .footer__links{
                    list-style:none;
                    text-decoration:none;
                    cursor: pointer;
                    padding: 0.3em;
                    color:white;
                }
            }
}
.follow__social{
    display: flex;
    justify-content:center;
    padding: 20px;
    font-size: 1.5em;
}

i{
    flex-direction:row;
    font-size:1.5em;
    cursor: pointer;
    padding: 0.3em;
}


.contenedor__Ul{    
    display:flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    list-style:none;
    text-decoration:none;            
}

.contenedor__A{
    color:white;
    text-decoration:none;
    padding:1em;
}

.contenedor__A:hover{
    height: 20px;
    background:gray;
    border-radius:50px;
}




////////////////////
//Productos/////////
////////////////////

.productsCards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
        .card{
            margin: 6px;
        }
}
.tituloGaleria{
    h4{
        padding: 1em;
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
}


///////////////////
//Contacto/////////
///////////////////

.container-md{
    padding: 1em;
    
}

.form-label{
    width:100%
}
.grid{
    margin-left:2em;
    display:flex;
    
}

.grid-ubicacion{
    display:flex;
    padding:2rem;
    
}

//////////////////
//Nosotros////////
//////////////////


@import "../Sublimaciones_Rojas2/node_modules/bootstrap/scss/bootstrap.scss";