///////////////////
//Colores//////////
///////////////////
$principal:black;

$primary: $principal;
$secondary: rgb(83, 83, 83);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);

///////////////////
//Navbar///////////
///////////////////

.navbar-nav{
    font-size: 1.2em;
 
}



////////////////////
//Productos/////////
////////////////////

.productsCards{
    width:100%;
    justify-content: center;

        .card{
            padding-bottom: 2em;
        }
}
.tituloGaleria{
    h4{
        padding: 1em;
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
}


///////////////////
//Contacto/////////
///////////////////

.ubicacion{
    display:grid;
    margin:6em;
}


//////////////////
//Nosotros////////
//////////////////


@import "../Sublimaciones_Rojas2/node_modules/bootstrap/scss/bootstrap.scss";